@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
* {
  margin: 0;
}

:root {
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

body {
  background-color: #f0edeb;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
form {
  margin: 30px auto 10px;
  text-align: center;
}
label input {
  height: 0;
  width: 0;
  opacity: 0;
}
label {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 40px;
  color: var(--primary);
  font-weight: lighter;
  font-size: 40px;
}
label:hover {
  background: var(--primary);
  color: white;
}

.header {
  position: sticky;
  z-index: 100;
  padding: 20px;
  margin-bottom: 20px;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: xx-large;
  justify-content: center;
  background-color: #f0edeb;
}

.header * {
  display: inline;
}

.header li {
  margin: 20px;
}

.header li a {
  color: black;
  text-decoration: none;
}

.output {
  height: 60px;
  font-size: 0.8rem;
}
.error {
  color: var(--error);
}

/* progress bar styles */
.progress-bar {
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
}

.img-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
  opacity: 0.8;
}
.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: -65px;
  left: -50px;
}
/* For the modal darken background */
.backdrop {
  z-index: 101;

  position: fixed;
  top: 0;
  left: 0;
  padding-top: 40px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.backdrop img {
  z-index: 101;
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 4px solid white;
}
